@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenu au conservatoire de Toulouse</h1>
    <p>Pour consulter les élèves présents au conservatoire, vous pouvez cliquer sur le lien dans le menu en haut de la page sous le nom "Etudiants"</p>
    
    <img src="https://www.toulouse-tourisme.com/sites/www.toulouse-tourisme.com/files/styles/incontournable_hp/public/thumbnails/image/incontournables_toulouse.jpg?itok=Gbz8xEwm" 
  class="rounded" alt="Toulouse">
</div>
